# Curso 'Modelado y aprendizaje no supervisado'
## Trabajo Práctico Final

En este TP el objetivo será realizar un agrupamiento de los clientes de una empresa para entender mejor las distintas características que tienen y establecer estrategias de marketing personalizadas (segmentación de clientes). Por lo que el objetivo principal es generar un **análisis de clustering** y poder realizar una descripción de las principales características que presentan los clientes que pertenecen a cada cluster.

El dataset que vamos a utilizar es marketing_campaign.csv. En el siguiente [enlace](https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis) pueden encontrar detallada la información de cada uno de los atributos que conforman este dataset.

El trabajo consistirá en tres secciones:

1.   Preprocesado de los datos: verificar la calidad de los datos, seleccionar las variables de interés, estandarizar los datos.
2.   Reducción de dimensionalidad: realizar un análisis de PCA sobre los datos, determinando el número de componentes principales óptimo según un criterio previamente establecido por el/la estudiante. Realizar un gráfico de puntos de los primeros componentes principales.
3.   Clustering: Realizar k-means a partir del resultado del PCA (es decir, no lo hagan sobre los datos originales!) considerando el valor óptimo de k.
Llevar a cabo un análisis de clustering con otro método según corresponda (ver más abajo). Realizar distintas medidas de validación interna y externa.

Importar paquetes

In [ ]:
import pandas as pd
#...

Importar el dataset

In [ ]:
df = pd.read_csv('/content/marketing_campaign.csv',delimiter="\t")

In [ ]:
df.shape

(2240, 29)

In [ ]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

## ZONA PREPROCESADO
Aquí tendrá que:


*   Exploración de los datos.
*   Chequear la calidad de los datos (esto incluye detectar si existen outliers y, en caso de que los hubiere, decidir qué hacer con ellos).
*   Seleccionar los atributos de interés: para los siguientes pasos solo nos van a interesar las **variables numéricas**! OJO que en el dataset existen variables que son solo dicotómicas (tomar valores 0 ó 1), esas variables no deben ser tenidas en cuenta para los siguientes pasos. Guarde las variables categóricas en una tabla separada ya que luego serán tenidas en cuenta para realizar validaciones externas.
*   Con la variable **Year_Birth** podría establecer la edad de los clientes, considerando que la edad aproximada será 2023 - **Year_Birth**.
*   Estandarizar los datos.

## ZONA REDUCCIÓN DE LA DIMENSIONALIDAD

Aquí tendrá que:


*   Llevar a cabo un PCA con las variables númericas ya estandarizadas del dataset
*   Determinar el número de componentes principales que serán tenidos en cuenta para los siguientes análisis de este Trabajo Práctico.
*   Graficar la distribución de los clientes (observaciones) en los dos primeros componentes principales.
*   ¿Cuáles son las variables originales más importantes en estos primeros componentes principales?

## ZONA CLUSTERING

Aquí tendrá que:


*   Realizar un análisis de k-means a partir de la reducción de dimensionalidad realizada en el punto anterior. Para ésto tendrá que determinar el k-óptimo.
*   Implementar un segúndo método de clustering sobre los datos. El método dependerá del número de documento del/de la estudiante:

      **  **DNI par (0, 2, ..., 8):** realizar un clustering jerárquico.

      **  **DNI impar (1, 3, ..., 9):** realizar DBScan.

      En cualquiera de los dos casos, deberá establecer los parámetros óptimos para realizar el clustering.
*   Realizar una validación interna del clustering k-means con el k-seleccionado. Comparar el resultado con otro clustering con un k distinto.
*   Realizar una validación externa tomando como "información externa" alguna de las variables categóricas del dataset: Education	o Marital_Status. ¿Están relacionadas con los grupos que se establecen?
*   **ÚLTIMO PUNTO:** Interpretar los clusters que formó! ¿Qué caracteriza a los clientes que pertenecen a un determinado cluster? Tenga en cuenta que como el clustering lo está haciendo sobre el espacio de baja dimensionalidad (PCA) va a tener que pensar muy bien este punto...